body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: 
                    url('images/shape-01.svg'),
                    url('images/shape-02.svg'),
                    linear-gradient(to left, #150e41 0%,#22176a 50%,#322299 80%);
  /* <path
    fill="none"
    stroke="red"
    d="M 10,30
       A 20,20 0,0,1 50,30
       A 20,20 0,0,1 90,30
       Q 90,60 50,90
       Q 10,60 10,30 z
       " />

       <circle cy="100" cx="200" r="30" style="fill:green;" /> */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #1d1552;
  /* background-image: linear-gradient(#000000); */
}

.circle_1{
  clip-path: circle(300px);
  opacity: .5;
  /* fill:color(srgb rgb(0, 0, 0) green rgb(0, 0, 0)) ; */
 background-color: aqua;
}
.website_background{
  

  /* clip-path: circle(400px); */
  background-color: aqua;



}

.websummary{
  background-color: #1d1552;
  /* background-image: linear-gradient(#000000); */


}

@font-face {
  font-family: myheaderfont;
  src: url(./fonts/BebasNeue-Regular.ttf);
  
}

.myheaderfont{
  font-family: myheaderfont;
  color: #ffd500df;
  font-size: 300%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}

