body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #150e41 0%,#22176a 50%,#322299 80%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #1d1552;
  /* background-image: linear-gradient(#000000); */
}

.websummary{
  background-color: #1d1552;
  /* background-image: linear-gradient(#000000); */


}

@font-face {
  font-family: myheaderfont;
  src: url(./fonts/BebasNeue-Regular.ttf);
  
}

.myheaderfont{
  font-family: myheaderfont;
  color: #ffd500df;
  font-size: 300%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}

